.products {
  flex: 4;
  padding: 10px 30px;
}

.product-list-edit {
  cursor: pointer;
  margin-right: 20px;
  color: green;
}

.product-list-delete {
  cursor: pointer;
  color: red;
}

.product-list-delete:hover {
  color: rgba(255, 0, 0, 0.6);
}


.product-list-edit:hover {
  color: rgba(0, 128, 0, 0.6);
}

.product-list-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}

.product-list-user {
  display: flex;
  align-items: center;
}