.widget-sm {
  flex: 1;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
  margin-right: 20px;
}

.widget-sm-title {
  font-size: 22px;
  font-weight: 600;
}

.widget-sm-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.widget-sm-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.widget-sm-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.widget-sm-user {
  display: flex;
  flex-direction: column;
}

.widget-sm-user-name {
  font-weight: 600;
}

.widget-sm-user-title{
  font-weight: 300;
}

.widget-sm-button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 7px 10px;
  background-color: #eeeef7;
  color: #555;
  cursor: pointer;
}

.widget-sm-button:hover {
  background-color: rgba(238, 238, 247, 0.6);
  color: rgba(85, 85, 85, 0.6);
}

.widget-sm-icon {
  font-size: 16px;
  margin-right: 5px;
}
